openapi: 3.0.3
info:
  contact:
    email: nextgenapi@cashfree.com
  title: New Payment Gateway APIs
  version: 2022-01-01
servers:
- description: Sandbox server
  url: https://sandbox.cashfree.com/pg
- description: Production server
  url: https://api.cashfree.com/pg
tags:
- name: Orders
- name: Payments
- name: Refunds
- name: Settlements
- name: Payment Links
- description: Cashfree's token Vault helps you save cards and tokenize them in a
    PCI complaint manner. We support creation of network tokens which can be used
    across acquiring banks
  name: Token Vault
paths:
  /orders:
    post:
      deprecated: false
      description: Use this API to create orders with Cashfree from your backend and
        get the payment link
      operationId: CreateOrder
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFOrderRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFOrder'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Create Order
      tags:
      - Orders
      x-content-type: application/json
      x-accepts: application/json
  /orders/sessions:
    post:
      deprecated: false
      description: Use this API when you have already created the orders and want
        Cashfree to process the payment.
      operationId: OrderPay
      parameters:
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: true
        schema:
          description: ""
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              plain_card:
                $ref: '#/components/examples/plain_card'
                value: null
              save_card_during_payment:
                $ref: '#/components/examples/save_card_during_payment'
                value: null
              saved_card:
                $ref: '#/components/examples/saved_card'
                value: null
              token_card:
                $ref: '#/components/examples/token_card'
                value: null
            schema:
              $ref: '#/components/schemas/CFOrderPayRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFOrderPayResponse'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Order Pay
      tags:
      - Orders
      x-content-type: application/json
      x-accepts: application/json
  /orders/{order_id}/authorization:
    post:
      deprecated: false
      description: Use this API to capture or void a preauthorized payment
      operationId: Preauthorization
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order or invoice ID for which you want to view the payment
            details.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFAuthorizationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFPaymentsEntity'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Preauthorization
      tags:
      - Orders
      x-content-type: application/json
      x-accepts: application/json
  /orders/{order_id}:
    get:
      deprecated: false
      description: Use this API to view all details of an order.
      operationId: GetOrder
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order or invoice ID for which you want to view the order
            details.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFOrder'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get Order
      tags:
      - Orders
      x-accepts: application/json
  /orders/{order_id}/payments:
    get:
      deprecated: false
      description: Use this API to view all payment details for an order.
      operationId: GetPaymentsfororder
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: Order or the invoice ID for which you want to view the payment
            details.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CFPaymentsEntity'
                type: array
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get Payments for an Order
      tags:
      - Payments
      x-accepts: application/json
  /orders/{order_id}/payments/{cf_payment_id}:
    get:
      deprecated: false
      description: Use this API to view payment details of an order for a payment
        ID.
      operationId: GetPaymentbyId
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: The order or invoice ID for which you want to view the payment
            details.
          type: string
        style: simple
      - explode: false
        in: path
        name: cf_payment_id
        required: true
        schema:
          description: Cashfree payment ID to view the payment details of an order.
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFPaymentsEntity'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get Payment by ID
      tags:
      - Payments
      x-accepts: application/json
  /orders/{order_id}/refunds:
    get:
      deprecated: false
      description: Use this API to fetch all refunds processed against an order.
      operationId: Getallrefundsfororder
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: Order or the invoice ID for which you want to view the refund
            details.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CFRefund'
                type: array
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get All Refunds for an Order
      tags:
      - Refunds
      x-accepts: application/json
    post:
      deprecated: false
      description: Use this API to initiate refunds.
      operationId: Createrefund
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: Order or the invoice ID for which refund must be initiated.
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFRefundRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFRefund'
          description: Refund created
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Create Refund
      tags:
      - Refunds
      x-content-type: application/json
      x-accepts: application/json
  /orders/{order_id}/refunds/{refund_id}:
    get:
      deprecated: false
      description: Use this API to fetch a specific refund processed on your Cashfree
        Account.
      operationId: GetRefund
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: Order or the invoice ID for which you want to view the refund
            details.
          type: string
        style: simple
      - description: Refund Id of the refund you want to fetch.
        explode: false
        in: path
        name: refund_id
        required: true
        schema:
          description: ""
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFRefund'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get Refund
      tags:
      - Refunds
      x-accepts: application/json
  /orders/{order_id}/settlements:
    get:
      deprecated: false
      description: Use this API to view all the settlements of a particular order.
      operationId: Getsettlements
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: order_id
        required: true
        schema:
          description: Order ID for which you want to view the settlements.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFSettlementsEntity'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get Settlements
      tags:
      - Settlements
      x-accepts: application/json
  /links:
    post:
      deprecated: false
      description: Use this API to create a new payment link. The created payment
        link url will be available in the API response parameter link_url.
      operationId: CreatePaymentLink
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CFLinkRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFLink'
          description: Payment Link created
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Create Payment Link
      tags:
      - Payment Links
      x-content-type: application/json
      x-accepts: application/json
  /links/{link_id}:
    get:
      deprecated: false
      description: Use this API to view all details and status of a payment link.
      operationId: GetPaymentLinkDetails
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: link_id
        required: true
        schema:
          description: The payment link ID for which you want to view the details.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFLink'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Fetch Payment Link Details
      tags:
      - Payment Links
      x-accepts: application/json
  /links/{link_id}/orders:
    get:
      deprecated: false
      description: Use this API to view all order details for a payment link.
      operationId: GetPaymentLinkOrders
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: link_id
        required: true
        schema:
          description: The payment link ID for which you want to view the order details.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CFLinkOrders'
                type: array
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get Orders for a Payment Link
      tags:
      - Payment Links
      x-accepts: application/json
  /links/{link_id}/cancel:
    post:
      deprecated: false
      description: Use this API to cancel a payment link. No further payments can
        be done against a cancelled link. Only a link in ACTIVE status can be cancelled.
      operationId: CancelPaymentLink
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: path
        name: link_id
        required: true
        schema:
          description: The payment link ID which you want to cancel.
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFLinkCancelledResponse'
          description: Payment Link cancelled
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCancelledError'
          description: Cannot cancel Payment Link if status is not ACTIVE
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Cancel Payment Link
      tags:
      - Payment Links
      x-accepts: application/json
  /customers/{customer_id}/instruments:
    get:
      deprecated: false
      description: To get all saved instruments for a customer id
      operationId: fetchAllSavedInstruments
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: The customer_id for which all the saved cards are queried
          type: string
        style: simple
      - explode: true
        in: query
        name: instrument_type
        required: true
        schema:
          description: type to instrument to query
          enum:
          - card
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CFFetchAllSavedInstruments'
                type: array
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Fetch All Saved Instruments
      tags:
      - Token Vault
      x-accepts: application/json
  /customers/{customer_id}/instruments/{instrument_id}:
    delete:
      deprecated: false
      description: To delete a saved instrument for a customer id and instrument id
      operationId: deleteSpecificSavedInstrument
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: The customer_id for which instrument needs to be deleted
          type: string
        style: simple
      - explode: false
        in: path
        name: instrument_id
        required: true
        schema:
          description: The instrument_id which needs to be deleted
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFFetchAllSavedInstruments'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Delete Saved Instrument
      tags:
      - Token Vault
      x-accepts: application/json
    get:
      deprecated: false
      description: To get specific saved instrument for a customer id and instrument
        id
      operationId: fetchSpecificSavedInstrument
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: The customer_id for which all the saved cards are queried
          type: string
        style: simple
      - explode: false
        in: path
        name: instrument_id
        required: true
        schema:
          description: The instrument_id of the saved instrument which needs to be
            queried
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFFetchAllSavedInstruments'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Fetch Single Saved Instrument
      tags:
      - Token Vault
      x-accepts: application/json
  /customers/{customer_id}/instruments/{instrument_id}/cryptogram:
    get:
      deprecated: false
      description: "To get the card network token, token expiry and cryptogram for\
        \ a saved instrument using instrument id"
      operationId: fetchCryptogram
      parameters:
      - explode: false
        in: header
        name: x-client-id
        required: true
        schema:
          description: Client app ID
          type: string
        style: simple
      - explode: false
        in: header
        name: x-client-secret
        required: true
        schema:
          description: Client secret key
          type: string
        style: simple
      - explode: false
        in: header
        name: x-api-version
        required: false
        schema:
          default: 2022-01-01
          description: API version to be used
          type: string
        style: simple
      - explode: false
        in: header
        name: x-idempotency-replayed
        required: false
        schema:
          default: false
          description: If the request was successful earlier you would get true
          type: boolean
        style: simple
      - explode: false
        in: header
        name: x-idempotency-key
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: header
        name: x-request-id
        required: false
        schema:
          description: A key for idempotency
          type: string
        style: simple
      - explode: false
        in: path
        name: customer_id
        required: true
        schema:
          description: The customer_id of saved instrument
          type: string
        style: simple
      - explode: false
        in: path
        name: instrument_id
        required: true
        schema:
          description: The instrument_id of the saved instrument
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFCryptogram'
          description: OK
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFError'
          description: Any bad or invalid request will lead to following error object
          headers:
            x-api-version:
              explode: false
              schema:
                type: string
              style: simple
            x-ratelimit-limit:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-remaining:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-retry:
              explode: false
              schema:
                type: integer
              style: simple
            x-ratelimit-type:
              explode: false
              schema:
                type: string
              style: simple
            x-request-id:
              explode: false
              schema:
                type: string
              style: simple
      summary: Fetch cryptogram for saved instrument
      tags:
      - Token Vault
      x-accepts: application/json
components:
  examples:
    plain_card:
      summary: Pay using plain card
      value:
        order_token: hyj120nbvt12831
        payment_method:
          card:
            channel: link
            card_number: "4111111111111111"
            card_holder_name: Tushar Gupta
            card_expiry_mm: "06"
            card_expiry_yy: "22"
            card_cvv: "900"
    save_card_during_payment:
      summary: Pay using plain card and save it
      value:
        order_token: hyj120nbvt12831
        payment_method:
          card:
            channel: link
            card_number: "4111111111111111"
            card_holder_name: Tushar Gupta
            card_expiry_mm: "06"
            card_expiry_yy: "22"
            card_cvv: "900"
        save_instrument: true
    saved_card:
      summary: Pay using instrument id of saved card
      value:
        order_token: hyj120nbvt12831
        payment_method:
          card:
            channel: link
            instrument_id: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
            card_cvv: "900"
    token_card:
      summary: Pay using card network token and cryptogram
      value:
        order_token: hyj120nbvt12831
        payment_method:
          card:
            channel: link
            card_number: "4111111111111111"
            card_expiry_mm: "03"
            card_expiry_yy: "26"
            cryptogram: AQBBBBBBZatIlaIAmWKSghwBBBB=
            card_cvv: "900"
            token_requestor_id: "22457512314"
            card_display: "3243"
  parameters:
    clientIdHeader:
      explode: false
      in: header
      name: x-client-id
      required: true
      schema:
        description: Client app ID
        type: string
      style: simple
    clientSecretHeader:
      explode: false
      in: header
      name: x-client-secret
      required: true
      schema:
        description: Client secret key
        type: string
      style: simple
    apiVersionHeader:
      explode: false
      in: header
      name: x-api-version
      required: false
      schema:
        default: 2022-01-01
        description: API version to be used
        type: string
      style: simple
    xIdempotencyReplayed:
      explode: false
      in: header
      name: x-idempotency-replayed
      required: false
      schema:
        default: false
        description: If the request was successful earlier you would get true
        type: boolean
      style: simple
    xRequestId:
      explode: false
      in: header
      name: x-request-id
      required: false
      schema:
        description: A key for idempotency
        type: string
      style: simple
    xIdempotencyKey:
      explode: false
      in: header
      name: x-idempotency-key
      required: false
      schema:
        description: A key for idempotency
        type: string
      style: simple
  schemas:
    CFAuthorizationRequest:
      example:
        action: CAPTURE
        amount: 100.0
      properties:
        action:
          description: "Type of authorization to run. Can be one of 'CAPTURE' , 'VOID'"
          enum:
          - CAPTURE
          - VOID
          type: string
        amount:
          description: The amount if you are running a 'CAPTURE'
          type: number
      title: CFAuthorizationRequest
      type: object
    CFFetchAllSavedInstruments:
      example:
        customer_id: siddhesh_desai
        afa_reference: 740324562
        instrument_id: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        instrument_type: card
        instrument_uid: 0d8f70838cc5af8b1cd2bc0fe71278551fd3f1101e40020d89ad22ceba4f933c
        instrument_display: xxxxxxxxxxxx4375
        instrument_status: ACTIVE
        created_at: 2021-11-11 16:57:57
        instrument_meta:
          card_network: VISA
          card_bank_name: HDFC Bank Limited
          card_country: IN
          card_type: DEBIT_CARD
          card_sub_type: R
          card_token_details: null
      properties:
        customer_id:
          description: customer_id for which the instrument was saved
          type: string
        afa_reference:
          description: cf_payment_id of the successful transaction done while saving
            instrument
          type: integer
        instrument_id:
          description: saved instrument id
          type: string
        instrument_type:
          description: Type of the saved instrument
          enum:
          - card
          type: string
        instrument_uid:
          description: Unique id for the saved instrument
          type: string
        instrument_display:
          description: masked card number displayed to the customer
          type: string
        instrument_status:
          description: status of the saved instrument
          enum:
          - ACTIVE
          - INACTIVE
          type: string
        created_at:
          description: timestamp at which instrument was saved
          type: string
        instrument_meta:
          $ref: '#/components/schemas/CFSavedInstrumentMeta'
      title: CFFetchAllSavedInstruments
    CFSavedInstrumentMeta:
      properties:
        card_network:
          description: card scheme/network of the saved card
          type: string
        card_bank_name:
          description: Issuing bank name of saved card
          type: string
        card_country:
          description: Issuing country of saved card
          type: string
        card_type:
          description: Type of saved card
          type: string
        card_sub_type:
          description: Sub Type of saved card
          type: string
        card_token_details:
          type: object
      title: InstrumentMeta
    CFCryptogram:
      example:
        instrument_id: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        token_requestor_id: "22457512314"
        card_number: "4491365621601472"
        card_expiry_mm: "06"
        card_expiry_yy: "2025"
        cryptogram: AQBBBBBBZatIlaIAmWKSghwBBBB=
        card_display: "1234"
      properties:
        instrument_id:
          description: instrument_id of saved instrument
          type: string
        token_requestor_id:
          description: TRID issued by card networks
          type: string
        card_number:
          description: token pan number
          type: string
        card_expiry_mm:
          description: token pan expiry month
          type: string
        card_expiry_yy:
          description: token pan expiry year
          type: string
        cryptogram:
          description: cryptogram
          type: string
        card_display:
          description: last 4 digits of original card number
          type: string
      title: CFCryptogram
    CFRefundRequest:
      example:
        refund_amount: 1
        refund_id: refund_00912
        refund_note: refund note for reference
        refund_speed: STANDARD
      properties:
        refund_amount:
          description: Amount to be refunded. Should be lesser than or equal to the
            transaction amount. (Decimals allowed)
          format: double
          type: number
        refund_id:
          description: An unique ID to associate the refund with. Provie alphanumeric
            values
          maxLength: 40
          minLength: 3
          type: string
        refund_note:
          description: A refund note for your reference.
          maxLength: 100
          minLength: 3
          type: string
        refund_speed:
          description: Speed at which the refund is processed. It's an optional field
            with default being STANDARD
          enum:
          - STANDARD
          - INSTANT
          type: string
        refund_splits:
          items:
            $ref: '#/components/schemas/CFVendorSplit'
          type: array
      required:
      - refund_amount
      - refund_id
      title: CFRefundRequest
      type: object
    CFOrderPayRequest:
      example:
        save_instrument: true
        payment_session_id: session_77Rr-6GpoEbGDHYc4tc_abJA2oW0VgcaIVemBSzDvPhdmtPRrWV6PAmuxRHlCfqPMcaKuVdlWpvjCtEaIjk6YwlQd7Nc9S7fhACyJ7UKUr7_
        payment_method: null
      properties:
        payment_session_id:
          example: session_77Rr-6GpoEbGDHYc4tc_abJA2oW0VgcaIVemBSzDvPhdmtPRrWV6PAmuxRHlCfqPMcaKuVdlWpvjCtEaIjk6YwlQd7Nc9S7fhACyJ7UKUr7_
          type: string
        payment_method:
          $ref: '#/components/schemas/CFPaymentMethod'
        save_instrument:
          type: boolean
      required:
      - payment_method
      - payment_session_id
      title: CFOrderPayRequest
      type: object
    CFPaymentMethod:
      oneOf:
      - $ref: '#/components/schemas/CFCardPayment'
      - $ref: '#/components/schemas/CFUPIPayment'
      - $ref: '#/components/schemas/CFNetbankingPayment'
      - $ref: '#/components/schemas/CFAppPayment'
      - $ref: '#/components/schemas/CFEMIPayment'
      - $ref: '#/components/schemas/CFCardlessEMIPayment'
      - $ref: '#/components/schemas/CFPaylaterPayment'
      title: CFPaymentMethod
    CFUPIPayment:
      example:
        upi:
          channel: collect
          upi_id: rajnandan1@okhdfcbak
      properties:
        upi:
          $ref: '#/components/schemas/CFUPI'
      required:
      - upi
      title: CFUPIPayment
      type: object
    CFUPI:
      example:
        channel: collect
        upi_id: rajnandan1@okhdfcbak
      properties:
        channel:
          description: "Specify the channel through which the payment must be processed.\
            \ Can be one of [\"link\", \"collect\", \"qrcode\"]"
          enum:
          - link
          - collect
          - qrcode
          type: string
        upi_id:
          description: Customer UPI VPA to process payment.
          type: string
        authorize_only:
          description: For one time mandate on UPI. Set this as authorize_only = true.
            Please note that you can only use the "collect" channel if you are sending
            a one time mandate request
          type: boolean
        authorization:
          $ref: '#/components/schemas/CFUPIAuthorizeDetails'
      required:
      - channel
      - upi_id
      title: CFUPI
      type: object
    CFUPIAuthorizeDetails:
      example:
        authorization:
          approve_by: 2022-07-02T10:20:12+05:30
          start_time: 2022-09-21T12:34:34Z
          end_time: 2022-10-22T12:34:34Z
      properties:
        approve_by:
          description: Time by which this authorization should be approved by the
            customer.
          type: string
        start_time:
          description: This is the time when the UPI one time mandate will start
          type: string
        end_time:
          description: "This is the time when the UPI mandate will be over. If the\
            \ mandate has not been executed by this time, the funds will be returned\
            \ back to the customer after this time."
          type: string
      title: CFUPIAuthorizeDetails
      type: object
    CFAppPayment:
      example:
        app:
          channel: link
          provider: gpay
          phone: "8474090552"
      properties:
        app:
          $ref: '#/components/schemas/CFApp'
      required:
      - app
      title: CFAppPayment
      type: object
    CFApp:
      example:
        channel: link
        provider: gpay
        phone: "8474090552"
      properties:
        channel:
          description: The channel has to be set to link
          enum:
          - link
          type: string
        provider:
          description: Specify the channel through which the payment must be processed.
          type: string
        phone:
          description: Customer phone number associated with a wallet for payment.
          type: string
      required:
      - channel
      - phone
      - provider
      title: CFApp
      type: object
    CFNetbankingPayment:
      example:
        netbanking:
          channel: link
          netbanking_bank_code: 3022
      properties:
        netbanking:
          $ref: '#/components/schemas/CFNetbanking'
      required:
      - netbanking
      title: CFNetbankingPayment
      type: object
    CFNetbanking:
      example:
        channel: link
        netbanking_bank_code: 3022
      properties:
        channel:
          description: The channel for netbanking will always be `link`
          type: string
        netbanking_bank_code:
          description: Bank code
          format: int32
          type: integer
      required:
      - channel
      - netbanking_bank_code
      title: CFNetbanking
      type: object
    CFCardlessEMIPayment:
      example:
        channel: link
        provider: flexmoney
        phone: 781234121
      properties:
        cardless_emi:
          $ref: '#/components/schemas/CFCardlessEMI'
      required:
      - cardless_emi
      title: CFCardlessEMIPayment
      type: object
    CFCardlessEMI:
      example:
        channel: link
        provider: zestmoney
        phone: 7768913241
      properties:
        channel:
          description: The channel for cardless EMI is always `link`
          enum:
          - link
          type: string
        provider:
          description: "One of [\"flexmoney\", \"zestmoney\"]"
          enum:
          - flexmoney
          - zestmoney
          type: string
        phone:
          description: Customers phone number for this payment instrument. If the
            customer is not eligible you will receive a 400 error with type as 'invalid_request_error'
            and code as 'invalid_request_error'
          type: string
      required:
      - channel
      - phone
      - provider
      title: CFCardlessEMI
      type: object
    CFPaylaterPayment:
      example:
        channel: link
        provider: lazypay
        phone: 781234121
      properties:
        paylater:
          $ref: '#/components/schemas/CFPaylater'
      required:
      - paylater
      title: CFPaylaterPayment
      type: object
    CFPaylater:
      example:
        channel: link
        provider: kotak
        phone: 7789112345
      properties:
        channel:
          description: The channel for cardless EMI is always `link`
          type: string
        provider:
          description: "One of [\"kotak\", \"flexipay\", \"zestmoney\", \"lazypay\"\
            , \"olapostpaid\"]. Please note that Flexipay is offered by HDFC bank"
          enum:
          - kotak
          - flexipay
          - zestmoney
          - lazypay
          - olapostpaid
          type: string
        phone:
          description: Customers phone number for this payment instrument. If the
            customer is not eligible you will receive a 400 error with type as 'invalid_request_error'
            and code as 'invalid_request_error'
          type: string
      required:
      - channel
      - phone
      - provider
      title: CFPaylater
      type: object
    CFCardPayment:
      description: "The card payment object is used to make payment using either plain\
        \ card number, saved card instrument id or using cryptogram "
      example:
        card:
          channel: link
          card_number: "4111111111111111"
          card_holder_name: Tushar Gupta
          card_expiry_mm: "06"
          card_expiry_yy: "22"
          card_cvv: "900"
      properties:
        card:
          $ref: '#/components/schemas/CFCard'
      required:
      - card
      title: CFCardPayment
      type: object
    CFEMIPayment:
      example:
        emi:
          channel: link
          card_number: "4111111111111111"
          card_holder_name: Tushar Gupta
          card_expiry_mm: "06"
          card_expiry_yy: "22"
          card_cvv: "900"
          card_bank_name: Kotak
          emi_tenure: 3
      properties:
        emi:
          $ref: '#/components/schemas/CFCardEMI'
      required:
      - card
      title: CFEMIPayment
      type: object
    CFCardEMI:
      example:
        channel: link
        card_number: "4111111111111111"
        card_holder_name: Tushar Gupta
        card_expiry_mm: "06"
        card_expiry_yy: "22"
        card_cvv: "900"
      properties:
        channel:
          default: link
          description: The channel for card payments will always be "link"
          enum:
          - link
          type: string
        card_number:
          description: Customer card number.
          type: string
        card_holder_name:
          description: Customer name mentioned on the card.
          type: string
        card_expiry_mm:
          description: Card expiry month.
          type: string
        card_expiry_yy:
          description: Card expiry year.
          type: string
        card_cvv:
          description: CVV mentioned on the card.
          type: string
        card_alias:
          description: Card alias as returned by Cashfree Vault API
          type: string
        card_bank_name:
          description: "Card bank name, required for EMI payments. This is the bank\
            \ user has selected for EMI. One of [\"Kotak\", \"ICICI\", \"RBL\", \"\
            BOB\", \"Standard Chartered\", \"HDFC\"]"
          enum:
          - Kotak
          - ICICI
          - RBL
          - BOB
          - Standard Chartered
          - HDFC
          type: string
        emi_tenure:
          description: EMI tenure selected by the user
          type: integer
      required:
      - card_bank_name
      - card_cvv
      - card_expiry_mm
      - card_expiry_yy
      - card_number
      - channel
      - emi_tenure
      title: CFCardEMI
      type: object
    CFCard:
      example:
        channel: link
        card_number: "4111111111111111"
        card_holder_name: Tushar Gupta
        card_expiry_mm: "06"
        card_expiry_yy: "22"
        card_cvv: "900"
      properties:
        channel:
          description: The channel for card payments will always be "link"
          type: string
        card_number:
          description: Customer card number for plain card transactions. Token pan
            number for tokenized card transactions.
          type: string
        card_holder_name:
          description: Customer name mentioned on the card.
          type: string
        card_expiry_mm:
          description: Card expiry month for plain card transactions. Token expiry
            month for tokenized card transactions.
          type: string
        card_expiry_yy:
          description: Card expiry year for plain card transactions. Token expiry
            year for tokenized card transactions.
          type: string
        card_cvv:
          description: CVV mentioned on the card.
          type: string
        instrument_id:
          description: instrument id of saved card. Required only to make payment
            using saved instrument.
          type: string
        cryptogram:
          description: cryptogram received from card network. Required only for tokenized
            card transactions.
          type: string
        token_requestor_id:
          description: TRID issued by card networks. Required only for tokenized card
            transactions.
          type: string
        card_display:
          description: last 4 digits of original card number. Required only for tokenized
            card transactions.
          type: string
        card_alias:
          description: Card alias as returned by Cashfree Vault API.
          type: string
        card_bank_name:
          description: "One of [\"Kotak\", \"ICICI\", \"RBL\", \"BOB\", \"Standard\
            \ Chartered\"]. Card bank name, required for EMI payments. This is the\
            \ bank user has selected for EMI"
          enum:
          - Kotak
          - ICICI
          - RBL
          - BOB
          - Standard Chartered
          type: string
        emi_tenure:
          description: EMI tenure selected by the user
          type: integer
      required:
      - card_alias
      - card_bank_name
      - card_cvv
      - card_display
      - card_expiry_mm
      - card_expiry_yy
      - card_holder_name
      - card_number
      - channel
      - cryptogram
      - emi_tenure
      - instrument_id
      - token_requestor_id
      title: CFCard
      type: object
    CFOrderPayResponse:
      example:
        payment_method: card
        payment_amount: 12.0
        channel: link
        action: link
        cf_payment_id: 91235
        data:
          url: https://sandbox.cashfree.com/pg/view/gateway/FHsuvhayLM5mmhINoqri7ba296e2ebca8b98e6119f6223021a13
          payload: null
          content_type: null
          method: null
      properties:
        cf_payment_id:
          description: Payment identifier created by Cashfree
          type: integer
        payment_amount:
          type: number
        payment_method:
          description: "One of [\"upi\", \"netbanking\", \"card\", \"app\", \"cardless_emi\"\
            , \"paylater\"] "
          enum:
          - netbanking
          - card
          - upi
          - app
          - cardless_emi
          - paylater
          type: string
        channel:
          description: "One of [\"link\", \"collect\", \"qrcode\"]. In an older version\
            \ we used to support different channels like 'gpay', 'phonepe' etc. However,\
            \ we now support only the following channels - link, collect and qrcode.\
            \ To process payments using gpay, you will have to provide channel as\
            \ 'link' and provider as 'gpay'"
          enum:
          - link
          - collect
          - qrcode
          type: string
        action:
          description: "One of [\"link\", \"custom\", \"form\"]"
          enum:
          - link
          - custom
          - form
          nullable: true
          type: string
        data:
          $ref: '#/components/schemas/CFOrderPayData'
      title: CFOrderPayResponse
      type: object
    CFOrderPayData:
      example:
        url: https://hdfcbank.com/sendTo/897?q
        payload:
          MD: 89811231231
          PaReq: 89123l1j2l3j1ljkkl=
        content_type: application/x-www-form-encoded
        method: post
      properties:
        url:
          nullable: true
          type: string
        payload:
          nullable: true
          type: object
        content_type:
          type: string
        method:
          type: string
      title: CFOrderPayData
      type: object
    CFOrderRequest:
      example:
        order_note: Test order
        customer_details:
          customer_id: 7112AAA812234
          customer_name: John
          customer_email: john@cashfree.com
          customer_phone: "9908734801"
          customer_bank_account_number: "1518121112"
          customer_bank_ifsc: CITI0000001
          customer_bank_code: 3333
        order_meta:
          return_url: "https://b8af79f41056.eu.ngrok.io?order_id={order_id}&order_token={order_token}"
          notify_url: https://b8af79f41056.eu.ngrok.io/webhook.php
        order_expiry_time: 2021-07-29T00:00:00Z
        order_splits:
        - vendor_id: Vendor01
          amount: "100.1"
        - vendor_id: Vendor01
          amount: "100.1"
        order_currency: INR
        order_amount: 10.15
        order_id: order_id
        order_tags:
          key: order_tags
      properties:
        order_id:
          description: Order identifier present in your system. Alphanumeric and only
            - and _ allowed.
          maxLength: 45
          minLength: 3
          type: string
        order_amount:
          description: Bill amount for the order. Provide upto two decimals. 10.15
            means Rs 10 and 15 paisa
          example: 10.15
          format: double
          type: number
        order_currency:
          description: 'Currency for the order. INR if left empty. Contact care@cashfree.com
            to enable new currencies. '
          example: INR
          type: string
        customer_details:
          $ref: '#/components/schemas/CFCustomerDetails'
        order_meta:
          $ref: '#/components/schemas/CFOrderMeta'
        order_expiry_time:
          description: "Time after which the order expires. Customers will not be\
            \ able to make the payment beyond the time specified here. We store timestamps\
            \ in IST, but you can provide them in a valid ISO 8601 time format."
          example: 2021-07-29T00:00:00Z
          type: string
        order_note:
          description: Order note for reference.
          example: Test order
          maxLength: 200
          minLength: 3
          type: string
        order_tags:
          additionalProperties:
            maxLength: 255
            minLength: 3
            type: string
          description: Custom Tags which can be passed for an order. A maximum of
            6 tags can be added
          type: object
        order_splits:
          items:
            $ref: '#/components/schemas/CFVendorSplit'
          type: array
      required:
      - customer_details
      - order_amount
      - order_currency
      title: CFOrderRequest
      type: object
    CFVendorSplit:
      example:
        vendor_id: Vendor01
        amount: "100.1"
      properties:
        vendor_id:
          description: Vendor id created in Cashfree system
          type: string
        amount:
          description: Amount which will be associated with this vendor
          type: number
        percentage:
          description: Percentage of order amount which shall get added to vendor
            account
          type: number
      title: CFVendorSplit
      type: object
    CFCustomerDetails:
      example:
        customer_id: 7112AAA812234
        customer_name: John
        customer_email: john@cashfree.com
        customer_phone: "9908734801"
        customer_bank_account_number: "1518121112"
        customer_bank_ifsc: CITI0000001
        customer_bank_code: 3333
      properties:
        customer_id:
          description: A unique identifier for the customer. Use alphanumeric values
            only.
          maxLength: 50
          minLength: 3
          type: string
        customer_name:
          description: Customer name.
          maxLength: 50
          minLength: 3
          type: string
        customer_email:
          description: Customer email address.
          maxLength: 100
          minLength: 3
          type: string
        customer_phone:
          description: Customer phone number.
          maxLength: 10
          minLength: 10
          type: string
        customer_bank_account_number:
          description: Customer bank account. Required if you want to do a bank account
            check (TPV)
          maxLength: 20
          minLength: 3
          type: string
        customer_bank_ifsc:
          description: Customer bank IFSC. Required if you want to do a bank account
            check (TPV)
          type: string
        customer_bank_code:
          description: "Customer bank code. Required for net banking payments, if\
            \ you want to do a bank account check (TPV)"
          type: integer
      required:
      - customer_id
      - customer_phone
      title: CFCustomerDetails
      type: object
    CFOrderMeta:
      example:
        return_url: "https://b8af79f41056.eu.ngrok.io?order_id={order_id}&order_token={order_token}"
        notify_url: https://b8af79f41056.eu.ngrok.io/webhook.php
      properties:
        return_url:
          description: "The URL to which user will be redirected to after the payment\
            \ on bank OTP page. Maximum length: 250."
          type: string
        notify_url:
          description: "Notification URL for server-server communication. Useful when\
            \ user's connection drops while re-directing. NotifyUrl should be an https\
            \ URL. Maximum length: 250."
          type: string
        payment_methods:
          description: "Allowed payment modes for this order. Pass comma-separated\
            \ values among following options - \"cc\", \"dc\", \"ccc\", \"ppc\", \"\
            nb\", \"upi\", \"paypal\", \"app\". Leave it blank to show all available\
            \ payment methods"
          type: string
      title: CFOrderMeta
      type: object
    CFSettlementURLObject:
      properties:
        url:
          example: https://sandbox.cashfree.com/pg/orders/order_271vovQ3PTZAx3fDI0xtZbC4jkPET/settlements
          type: string
      title: CFSettlementURLObject
      type: object
    CFRefundURLObject:
      properties:
        url:
          example: https://sandbox.cashfree.com/pg/orders/order_271vovQ3PTZAx3fDI0xtZbC4jkPET/refunds
          type: string
      title: CFRefundURLObject
      type: object
    CFPaymentURLObject:
      properties:
        url:
          example: https://sandbox.cashfree.com/pg/orders/order_271vovQ3PTZAx3fDI0xtZbC4jkPET/payments
          type: string
      title: CFPaymentURLObject
      type: object
    CFOrder:
      example:
        cf_order_id: 1553338
        order_id: order_271vovQ3PTZAx3fDI0
        entity: order
        order_currency: INR
        order_amount: 10.12
        order_status: ACTIVE
        order_token: 79byj5123g6912mki3
        order_note: "order #145"
        order_expiry_time: 2021-07-29T05:30:00+05:30
        payment_link: https://payments-test.cashfree.com/order#123bhd816dfb1
        payment_session_id: session_77Rr-6GpoEbGDHYc4tc_abJA2oW0VgcaIVemBSzDvPhdmtPRrWV6PAmuxRHlCfqPMcaKuVdlWpvjCtEaIjk6YwlQd7Nc9S7fhACyJ7UKUr7_
        terminal_data: null
      properties:
        cf_order_id:
          type: integer
        created_at:
          type: string
        order_id:
          type: string
        entity:
          type: string
        order_currency:
          type: string
        order_amount:
          type: number
        order_status:
          type: string
        order_token:
          type: string
        order_expiry_time:
          type: string
        order_note:
          type: string
        payment_link:
          type: string
        payment_session_id:
          type: string
        customer_details:
          $ref: '#/components/schemas/CFCustomerDetails'
        order_meta:
          $ref: '#/components/schemas/CFOrderMeta'
        payments:
          $ref: '#/components/schemas/CFPaymentURLObject'
        settlements:
          $ref: '#/components/schemas/CFSettlementURLObject'
        refunds:
          $ref: '#/components/schemas/CFRefundURLObject'
        order_tags:
          additionalProperties:
            maxLength: 255
            minLength: 3
            type: string
          description: Custom Tags which can be passed for an order. A maximum of
            6 tags can be added
          type: object
        order_splits:
          items:
            $ref: '#/components/schemas/CFVendorSplit'
          type: array
        terminal_data:
          type: object
      title: CFOrder
      type: object
    CFRefund:
      example:
        cf_payment_id: 918812
        cf_refund_id: refund_1553338
        refund_id: REF-123
        order_id: c6G-QMcbm1848
        entity: refund
        refund_amount: 100.81
        refund_currency: INR
        refund_note: "Refund for order #123"
        refund_status: SUCCESS
        refund_type: MERCHANT_INITIATED
        refund_splits: []
        status_description: In Progress
        refund_arn: RF12312
        metadata: null
        created_at: 2021-07-25T08:57:52+05:30
        processed_at: 2021-07-25T12:57:52+05:30
        refund_charge: 0
        refund_mode: STANDARD
        refund_speed: null
      properties:
        cf_payment_id:
          description: Cashfree Payments ID of the payment for which refund is initiated
          type: integer
        cf_refund_id:
          description: Cashfree Payments ID for a refund
          type: string
        order_id:
          description: Merchant’s order Id of the order for which refund is initiated
[...]
